[submodule "2024-2025/PMP-42/bachelor-thesis/Kliufas Severyn"]
	path = 2024-2025/PMP-42/bachelor-thesis/Kliufas Severyn
	url = https://github.com/vidkryvashka/esp32-cam-positioning.git
[submodule "2025-2026/PMP-42/bachelor-thesis/Anhelina Modenko/DelaunayForge"]
	path = 2025-2026/PMP-42/bachelor-thesis/Anhelina Modenko/DelaunayForge
	url = https://github.com/anshelino0606/DelaunayForge.git
